.mural {

  gap: 2rem;
  margin: 1rem 0 2rem;
  display: flex;
  flex-direction: column;

}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sem-passagens {
  text-align: center;
  padding: 2rem 0 15rem;

}
