.cabecalho {
  background-color: rgb(83, 77, 77);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cabecalho .logo {
  width: 6%;
  padding: 0.5rem ;
}

.cabecalho .logo img {
  width: 80%;
}

.cabecalho p {

  margin-left: 10%;
  font-size: 1.5rem;
  color: #d8dadc;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 10%;
  }
  .cabecalho .imagem {
    display: none;
  }
}
